services:
  db:
    image: postgres:14.2-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-metal_prices_db}
      - POSTGRES_USER=${POSTGRES_USER:-metal_user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-metal_password}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-metal_user} -d ${POSTGRES_DB:-metal_prices_db}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:

      - internal
  web:
    build: .
    container_name: metal-info-backend
    command: sh -c "python src/manage.py migrate && python src/manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:-metal_user}:${POSTGRES_PASSWORD:-metal_password}@db:5432/${POSTGRES_DB:-metal_prices_db}
    networks:
      - internal

  ngrok:
    image: ngrok/ngrok:latest
    container_name: metal-info-backend-ngrok
    # ports:
    #   - "80:80"
    environment:
      - NGROK_AUTHTOKEN=$NGROK_AUTHTOKEN
    command: http --url=$NGROK_URL metal-info-backend:8000
    networks:
      - internal

  redis:
    image: redis:7-alpine
    container_name: metal-info-backend-redis
    ports:
      - "6379:6379"
    networks:
      - internal
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  celery_worker:
    build: .
    container_name: metal-info-backend-celery-worker
    command: celery -A config worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    networks:
      - internal

  celery_beat:
    build: .
    container_name: metal-info-backend-celery-beat
    command: celery -A config beat -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    networks:
      - internal

volumes:
  postgres_data:

networks:
  internal:
    driver: bridge